.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.clients__item {
  width: 210px;

  height: 92px;
  margin: 15px;

  @media screen and (max-width: 479px) {
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 170px;

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--duration) var(--cubic-bezier);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }
}

.clients__icon {
  fill: #afb1b8;
  transition: fill var(--duration) var(--cubic-bezier);

  .clients__item:hover &,
  .clients__item:focus & {
    fill: #2196f3;
  }
}
