.footer {
  background-color: var(--bgc-hero-footer);
  padding: 60px 0;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.address-block {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 231px;
  }
}

.address-block__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.address__link {
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color var(--duration) var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--address-list-text-color);
  }
}

.address__link--white {
  color: var(--address-list-text-color);
}

.form-block {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }
}
.footer-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--address-list-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form {
  width: 100%;
  display: inline-block;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;

  color: var(--address-list-text-color);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer-form__button {
  align-items: center;
  padding: 10px 29px;
}

.footer-form__btn-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #fff;
}
