.contacts {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
}

.contacts__item {
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 0;

    &:last-child {
      margin-left: 50px;
    }
  }
}

.contacts__link {
  color: var(--second-text-color);
}

.contacts__icon {
  fill: var(--second-text-color);
  margin-right: 10px;
  transition: fill var(--duration) var(--cubic-bezier);
}

.contacts__icon--envelope {
  width: 16px;
  height: 12px;
}

.contacts__icon--vector {
  width: 10px;
  height: 16px;
}

.contacts__link {
  &:hover,
  &:focus {
    color: var(--accent-color);

    .contacts__icon--envelope,
    .contacts__icon--vector {
      fill: var(--accent-color);
    }
  }
}
