:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --hero-text-color: #fff;
  --address-list-text-color: #fff;
  --filter-button-color: #fff;
  --accent-color: #2196f3;
  --bgc-hero-footer: #2f303a;
  --bgc-our-team: #f5f4fa;
  --font-size: 14px;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
  --modal-label-text: #757575;
}
